body    {
    margin: 0;
    padding: 0;
}
#main, #top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#main   {
    flex-direction: column;
    min-height: 100vh;
}
#pedestrian {
    color: #256aff;
}
#sos    {
    color: #ec0400;
}
#top h1, #main label, #main a {
    font-family: sans-serif;
}
.buttons {
    color: #256aff;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 2px dotted #256aff;
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
    background: none;
}
.buttons:hover   {
    border: 2px solid #256aff;
}
#main a {
    text-decoration: none;
}
#upload {
    display: none;
}
#afterupload, #afterupload .boxs    {
    border: 2px solid #256aff;
    margin: 2%;
    padding: 2%;
}
#afterupload, #location, #darkmodediv, #uploadstatus {
    display: none;
}
#afterupload a  {
    background-color: #ffffff;
}
#location   {
    padding: 1px;
    border: 1px solid #256aff;
}
#info   {
    border: 2px dotted #256aff;
    border-radius: 8px;
    padding: 16px;
}
#uploadstatus   {
    padding: 1px;
    border: 1px;
    border-style: solid;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .25s;
    transition: .25s;
}
.slider:before, .slider img {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: .25s;
    transition: .25s;
}
input:checked + .slider {
    background-color: #256aff;
}
input:checked + .slider:before, input:checked + .slider img {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #000000;
    content: url("../images/darkmode1.png");
}
.slider.round, .slider img {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
#darkmodediv    {
    border: 2px solid #256aff80;
    border-radius: 10%;
    margin: 1%;
    padding: 1%;
    text-align: center;
    cursor: pointer;
}
#darkmodediv:hover  {
    border-color: #256aff;
}
#darkmodediv *  {
    margin: 1%;
}