body    {
    margin: 0;
    padding: 0;
}
#main, #top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#main   {
    flex-direction: column;
    min-height: 100vh;
}
#pedestrian {
    color: #256aff;
}
#sos    {
    color: #ec0400;
}
#top h1, #main label, #main a {
    font-family: sans-serif;
}
.buttons {
    color: #256aff;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 2px dotted #256aff;
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
}
.buttons:hover   {
    border: 2px solid #256aff;
}
#main a {
    text-decoration: none;
}
#upload {
    display: none;
}
#afterupload, #afterupload .boxs    {
    border: 2px solid #256aff;
    margin: 2%;
    padding: 2%;
}
#afterupload, #location, #darkmodediv {
    display: none;
}
#afterupload a  {
    background-color: #ffffff;
}
#location   {
    padding: 1px;
    border: 1px solid #256aff;
}
#info   {
    border: 2px dotted #256aff;
    border-radius: 8px;
    padding: 16px;
}