#settingsmain{
    font-family: sans-serif;
    height: 100%;
}
#settingstop,#settingscontent{
    display: flex;
}
#settingstop{
    justify-content: space-between;
    align-items: center;
    margin: 0 1%;
    height: 40px;
}
#settingscontent{
    flex-direction: column;
    align-items: center;
    padding: 4px;
    height: calc(100% - 49px);
    overflow-y: auto;
}
#settingsbottomline{
    border-bottom: 1px solid #256aff;
}
#settingstop div{
    display: flex;
    align-items: center;
}
.settingsbox{
    border: 1px dotted #256aff;
    border-radius: 4px;
    padding: 8px;
    margin-top: 8px;
    text-align: center;
}
.xycenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .25s;
    transition: .25s;
}
.slider:before, .slider img {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: .25s;
    transition: .25s;
}
input:checked + .slider {
    background-color: #256aff;
}
input:checked + .slider:before, input:checked + .slider img {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #000000;
    content: url("../images/darkmode1.png");
}
.slider.round, .slider img {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
#darkmodediv    {
    border: 2px solid #256aff80;
    border-radius: 8px;
    margin: 1%;
    padding: 1%;
    text-align: center;
    cursor: pointer;
}
#darkmodediv:hover  {
    border-color: #256aff;
}
#darkmodediv *  {
    margin: 1%;
}
#setlang{
    font-size: 16px;
    margin: 1%;
    padding: 1%;
    cursor: pointer;
}